@inherits ReactiveInjectableComponentBase<ProjectViewModel>

<section class="w-screen h-screen">
    <div class="flex size-full">
        <div class="m-auto grid grid-cols-2 md:grid-cols-3 gap-4 justify-between w-[calc(100%-2rem)] p-4 bg-EUWhite-100 border border-EUGrey-100 rounded-lg lg:max-w-7xl">
            @if(ViewModel!.Repositories != null)
            {
                @foreach(var repository in ViewModel.Repositories)
                {
                    <div class="max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col h-full">
                        <a href="#">
                            <img class="rounded-t-lg w-full max-h-80 object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="" />
                        </a>
                        <div class="p-5 pb-0 flex-grow">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">@repository.Name</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">@repository.Description</p>
                        </div>
                        <div class="p-5 pt-0 mt-auto">
                            <span class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg">
                                @repository.Language
                            </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section
