@inherits ReactiveInjectableComponentBase<ProjectViewModel>

<section class="w-screen h-screen">
    <div class="flex size-full">
        <div class="m-auto grid grid-cols-1 md:grid-cols-3 gap-4 justify-between w-[calc(100%-2rem)] p-4 bg-EUWhite-100 border border-EUGrey-100 rounded-lg lg:max-w-7xl">
            @if(ViewModel!.Repositories != null)
            {
                @foreach(var repository in ViewModel.Repositories)
                {
                    <div class="max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col h-full">
                        <img class="rounded-t-lg w-full max-h-80 object-cover" src="https://avatars.githubusercontent.com/u/59473377?v=4" alt="" />
                        <div class="p-5 pb-0 flex-grow">
                            <div class="flex mb-2">
                                <div class="flex-auto flex">
                                    <h5 class="my-auto text-2xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1">@repository.Name</h5>
                                </div>
                                <div>
                                    <span class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black border border-blue-700 rounded-lg">
                                        @repository.Language
                                    </span>
                                </div>
                            </div>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">@repository.Description</p>
                        </div>
                        <div class="p-5 pt-0 mt-auto">
                            <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg">
                                En savoir plus
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section
