@inherits ReactiveInjectableComponentBase<ProjectViewModel>

<section class="w-screen h-screen">
    <div class="flex size-full">
        <div class="m-auto grid grid-cols-2 md:grid-cols-3 gap-4 justify-between w-[calc(100%-2rem)] p-4 bg-EUWhite-100 border border-EUGrey-100 rounded-lg shadow-sm lg:max-w-7xl">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
            </div>
        </div>
    </div>
</section
