/* Variable fonts usage:
:root { font-family: "Metropolis", sans-serif; }
*/

/* static fonts */
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Metropolis/Metropolis-BlackItalic.woff2") format("woff2");
}