/* Variable fonts usage:
:root { font-family: "ZillaSlab", sans-serif; }
*/

/* static fonts */
@font-face {
  font-family: "ZillaSlab";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-Light.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ZillaSlab";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlab-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: ZillaSlabHighlight;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlabHighlight-Regular.woff2") format("woff2");
}

@font-face {
  font-family: ZillaSlabHighlight;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ZillaSlab/ZillaSlabHighlight-Bold.woff2") format("woff2");
}
