@using System.Globalization
@inject IJSRuntime JS
@inject TooltipService tooltipService
@inject NavigationManager Navigation

<div class="fixed-bottom d-flex flex-column justify-content-end align-items-end me-3 mb-3">
    @if (showLanguageSelection)
    {
        @foreach (var culture in supportedCultures)
        {
            <RadzenButton Image="@(culture.image)" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined" Size="ButtonSize.Large"
                Class="rz-border-radius-10 rz-shadow-10 mb-3" Style="width: 72px; height: 72px;" MouseEnter="@(args => ShowTooltip(args, culture.language))" Click="(() => setCultureInfo(culture.cultureInfo))" />
        }
    }
    <RadzenButton Icon="@buttonIcon" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large"
        Class="rz-border-radius-10 rz-shadow-10" Style="width: 72px; height: 72px;" Click="@ShowLanguages" />
</div>

@code {
    private bool showLanguageSelection = false;
    private string buttonIcon = "flag";

    private Language[] supportedCultures = new[]
    {
        new Language(cultureInfo: new CultureInfo("fr-FR"), language: "Français", image: "img/FlagFrance.svg"),
        new Language(cultureInfo: new CultureInfo("de-DE"), language: "Allemand", image: "img/FlagGermany.svg"),
        new Language(cultureInfo: new CultureInfo("en-US"), language: "Anglais", image: "img/FlagUnitedKingdom.svg")
    };

    private void ShowLanguages()
    {
        showLanguageSelection = !showLanguageSelection;
        buttonIcon = showLanguageSelection ? "close" : "flag";
    }

    private void ShowTooltip(ElementReference elementReference, string language)
    {
        tooltipService.Open(elementReference, language, new TooltipOptions() { Position = TooltipPosition.Left });
    }

    private void setCultureInfo(CultureInfo language)
    {
        if (CultureInfo.CurrentCulture != language)
        {
            var js = (IJSInProcessRuntime)JS;
            js.InvokeVoid("blazorCulture.set", language.Name);

            ShowLanguages();

            Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        }
    }
}