@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="container-fluid">
            @Body
        </article>
    </main>
</div>
